@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;600;700&display=swap');

.jetcredit-root, .jetcredit-root * {
  font-family: "Roboto Condensed", sans-serif !important;
}

.jetcredit-open {
  background: transparent !important;
  border: 0 !important;
  padding: 0 !important;
  cursor: pointer !important;
}

.jetcredit-summary-text {
  padding: 0 !important;
  color: #01A66C !important;
  font-size: 14pt !important;
  font-weight: 600 !important;
  line-height: 20px !important;
}

.jet_table {
  padding: 0px !important;
  margin: 0px !important;
  border: 0px none transparent !important;
  background: transparent !important;
}

.jet_button_table {
  padding: 2px 0px !important;
  text-align: center !important;
  border: 0px none transparent !important;
}

.jet_button_table p {
  padding: 0px !important;
  color: #01A66C !important;
  font-size: 14pt !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  background-color: transparent !important;
  font-family: 'Roboto Condensed', sans-serif !important;
}

.jet_button_div_txt {
  width: 100% !important;
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  text-align: left !important;
  line-height: 20px !important;
  background-color: transparent !important;
  color: #01A66C !important;
}

.jet_table_img {
  padding: 0px !important;
  margin: 0px !important;
  max-width: 155px !important;
  border: 0px none transparent !important;
  background: transparent !important;
}

.jet_logo {
  max-width: 155px !important;
  max-height: 69px !important;
  cursor: pointer !important;
}

.jet_logo_big {
  vertical-align: bottom !important;
  width:200px !important;
  padding-bottom: 10px !important;
}

/* calculator popup */
#jet-product-popup-container, #jet-product-popup-container * {
  font-family: "Roboto Condensed", sans-serif !important;
}

.modalpayment_jet {
  display: none;
  position: fixed !important;
  z-index: 4000000 !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  overflow: auto !important;
  background-color: rgb(0,0,0) !important;
  background-color: rgba(0,0,0,0.4) !important;
  padding-top:20px !important;
}

.modalpayment_jetm {
  display: none;
  position: fixed !important;
  z-index: 4000000 !important;
  left: 0 !important;
  top: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  height: 100vh !important;
  overflow: auto !important;
  background-color: rgb(0,0,0) !important;
  background-color: rgba(0,0,0,0.4) !important;
}

.modalpayment-content_jet {
  position: relative !important;
  margin: auto !important;
  padding: 0 !important;
  max-width: 1100px !important;
  border-radius: 3px !important;
}

.jet_body {
  display: flex !important;
  flex-direction: column !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  border-radius: 3px !important;
  background-color: #ffffff !important;
  padding: 0px !important;
  border: 1px solid #16a34a !important;
  box-shadow: 2px 2px 10px #6ee7b7 !important;
}

.jet_PopUp_Detailed_v1 {
  border-radius: 3px !important;
  width: 1100px !important;
  background-color: #ffffff !important;
  overflow: none !important;
  margin: auto !important;
}

.jetm_PopUp_Detailed_v1 {
  width: 100% !important;
  height: 100% !important;
  background-color: #ffffff !important;
  overflow: none !important;
}

.jet_Mask {
  display: flex !important;
  flex-direction: column !important;
  border-radius: 3px !important;
  background-color: #ffffff !important;
  -webkit-box-shadow: 0px 0px 30px 0px #000000 !important;
  box-shadow: 0px 0px 30px 0px #000000 !important;
}

.jetm_Mask {
  display: flex !important;
  flex-direction: column !important;
  background-color: #ffffff !important;
}

.jet_row {
  display: flex !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  width: 100% !important;
  padding: 0px 15px !important;
}

.jet_row:first-child {
  margin-top: 10px !important;
}

.jet_column_left {
  display: flex !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  flex: 1 !important;
  align-items: center !important;
  height: 58px !important;
  font-size: 16pt !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  background-color: transparent !important;
  color: #052e16 !important;
}

.jetm_column_left {
  display: flex !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  flex: 1 !important;
  align-items: center !important;
  height: 58px !important;
  font-size: 12pt !important;
  font-weight: 500 !important;
  line-height: 14px !important;
  background-color: transparent !important;
  color: #052e16 !important;
}

.jet_column_right {
  display: flex !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  flex: 1 !important;
  align-items: center !important;
  justify-content: right !important;
  height: 58px !important;
}

.jetm_column_right {
  display: flex !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  flex: 1 !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  justify-content: right !important;
  gap: 5px !important;
}

input[type="text"].jet_input_text_active, input[type="number"].jet_input_text_active{
  flex: 1 !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 24px !important;
  text-align: right;
  color: #14532d;
  border: 1px solid #15803d;
  background-color: white !important;
  margin: 0px !important;
  padding: 20px !important;
  height: 48px !important;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3) !important;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3) !important;
  border-radius: 3px !important;
}

input[type="text"].jet_input_text_active:active, input[type="number"].jet_input_text_active:active, input[type="text"].jet_input_text_active:focus, input[type="number"].jet_input_text_active:focus{
  flex: 1 !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 24px !important;
  text-align: right;
  color: #14532d;
  border: 1px solid #15803d;
  background-color: white !important;
  margin: 0px !important;
  padding: 20px !important;
  height: 48px !important;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3) !important;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3) !important;
  border-radius: 3px !important;
  outline: none !important;
}

input[type="text"].jet_input_text_active.jet_left, input[type="number"].jet_input_text_active.jet_left {
  text-align: left;
}

input[type="text"].jet_input_text_active.error, input[type="number"].jet_input_text_active.error {
  border: 1px solid #ED1C24;
  color: #ED1C24;
}

.jet_button_preizcisli {
  height: 48px !important;
  background-color: #166534 !important;
  border-radius: 3px !important;
  border: 0px none white !important;
  text-align: center !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  padding: 0px 20px !important;
  margin-left: 5px !important;
  color: #f0fdf4 !important;
  cursor: pointer !important;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4) !important;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4) !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  -o-user-select: none !important;
}

.jet_button_preizcisli:hover {
  background-color: #14532d !important;
  color: #f0fdf4 !important;
}

.jet_input_text {
  display: flex !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  align-items: center !important;
  justify-content: end !important;
  flex: 1 !important;
  border: 1px solid #15803d !important;
  background-color: white !important;
  margin: 0px !important;
  padding: 0px 20px !important;
  height: 48px !important;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3) !important;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3) !important;
  border-radius: 3px !important;
}

.jet_input_text.jet_disable {
  background-color: #EEEEEE !important;
}

.jet_input_text > div:first-child {
  display: flex !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  align-items: center !important;
  justify-content: end !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  -o-user-select: none !important;
  flex: 1 !important;
  height: 100% !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  text-align: right !important;
  color: #14532d !important;
}

.jet_input_text > div:last-child {
  display: flex !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  align-items: center !important;
  justify-content: start !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  -o-user-select: none !important;
  height: 100% !important;
  margin-left: 2px !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  text-align: right !important;
  color: #14532d !important;
}

.jet_input_text > div:last-child > span {
  padding-right: 2px !important;
}

select.jet_input_text {
  flex: 1 !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 24px !important;
  color: #14532d !important;
  border: 1px solid #15803d !important;
  background-color: white !important;
  padding: 0px 20px !important;
  margin: 0px !important;
  height: 48px !important;
  border-radius: 3px !important;
  outline: none !important;
}

select.jet_input_text:active, select.creditjet_input_text:focus{
  flex: 1 !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 24px !important;
  color: #14532d !important;
  border: 1px solid #15803d !important;
  background-color: white !important;
  padding: 0px 20px !important;
  margin: 0px !important;
  height: 48px !important;
  border-radius: 3px !important;
  outline: none !important;
}

.jet_hr{
  padding-top: 10px !important;
  width: 100% !important;
  border-top: 0px none white !important;
  border-left: 0px none white !important;
  border-right: 0px none white !important;
  border-bottom: 1px solid #01a66c !important;
}
.jet_row_footer {
  display: flex !important;
  flex-direction: column !important;
  flex: 1 !important;
  padding: 5px 15px !important;
}

input[type="checkbox"].jet_uslovia{
  border-radius: 0px !important;
  -ms-transform: scale(1.5) !important;
  -moz-transform: scale(1.5) !important;
  -webkit-transform: scale(1.5) !important;
  -o-transform: scale(1.5) !important;
  transform: scale(1.5) !important;
  padding: 10px !important;
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  opacity: 1 !important;
}

.jet_span {
  font-style: normal !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #01a66c !important;
}

.jet_row_bottom {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
  flex: 1 !important;
  padding: 20px 15px !important;
  background-color: #01a66c !important;
  border-radius: 0px 0px 3px 3px !important;
}

.jet_btn {
  height: 48px !important;
  background-color: #166534 !important;
  border-radius: 3px !important;
  border: 0px none white !important;
  text-align: center !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 24px !important;
  padding: 0px 20px !important;
  margin-left: 5px !important;
  color: #f0fdf4 !important;
  cursor: pointer !important;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4) !important;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4) !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  -o-user-select: none !important;
  transition: opacity 0.3s ease !important;
}

.jet_btn:hover{
  background-color: #14532d !important;
  color: #f0fdf4 !important;
}

.jet_uslovia_a {
  color:#01a66c !important;
  text-decoration: none !important;
  border: none !important;
  outline: none !important;
}

.jet_uslovia_a:visited {
  color:#01a66c !important;
  border: none !important;
  outline: none !important;
}

.jet_uslovia_a:focus {
  outline: none !important;
}

.jet_alert_overlay {
  display: none;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 5000000 !important;
}

.jet_alert_overlay.show {
  display: block;
}
